/* Heading 1 */
h1 {
    font-size: 30px;
    background: rgb(93, 93, 158);
    padding: 10px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Heading 2 */
h2 {
    color: rgb(93, 93, 158);
    font-size: 25px;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* Body */
body {
    background: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Paragraphs */
p {
    /*text-align: justify;*/
    padding: 10px;
    margin-top: 10px;
}

/* Navbar */
.navbar {
    padding: 0px;
    background: white;
    width: 100%;

}

/* Navbar: specifically the website title */
.navbar-light .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: white;
    background: rgb(93, 93, 158);
    padding: 20px;
    margin-left: 20px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

/* Navbar: list objects */
.navbar li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

/* Navbar: list objects (link text) */
.navbar li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: right;

}

/* Box objects */
.box {
    padding: 10px;
    height:100px;
    width:100px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Summary Box: for index.html */
#summaryBox {
    background-color: white;
    height: auto;
    width: 100%;
}

/* Preview Box: for index.html & vis pages */
#previewBox {
    background-color: white;
    height: auto;
    width: 100%;
}

/* Comparisons Box: for comparisons.html */
#comparisonsBox {
    background-color: white;
    height: 800px;
    width: 100%;
}

/* Data Box: for data.html */
#dataBox {
    background-color: white;
    height: auto;
    width: 100%;
}

/* Visualization Preview: Heading 2 */
.visualization_preview h2 {
    text-align: center;
}

/* Visualization Preview: Images (goes with previewBox) */
.visualization_preview img {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Visualization Image: for each vis.html (main box) */
#visualization-image {
    float: left;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Summary Image: for summary image on index.html */
#summary-image {
    margin-right: 20px;
    width: 50%;
    float: left;
}

/* Comparisons Images: for comparisons.html */
#comparisons-image {
    width: 40%;
    padding: 10px;
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
}

/* Preview Description paragraphs: for index.html and vis pages  */
#preview-description p {
    margin-top: 20px;
    padding: 20px;
}

/* Navbar: toggler when page is reduced */
.navbar-light .navbar-toggler {
    color: gray;
    border-color: white;
    margin-right: 15px;
}

/* Dropdown Item: when active */
.dropdown-item.active {
    background-color: rgb(93, 93, 158);
}

/* Image: when active page */
.active img {
    border: solid rgb(93, 93, 158);
    border-width: 2px;
}

/* Media Query: when width is reduced */
@media (max-width: 765px) {
    /* Body */
    body {
        background: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    /* Navbar */
    .navbar {
        padding: 0px;
        background: rgb(93, 93, 158);
        width: 100%;
    }

    /* Navbar: specifically the website title */
    .navbar-light .navbar-brand {
        font-size: 25px;
        font-weight: bold;
        color: white;
        background: rgb(93, 93, 158);
        padding: 20px;
        margin-left: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;

    }

    /* Navbar: list objects */
    .navbar li {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        border-radius: 4px;
    }

    /* Navbar: links text */
    .navbar li a {
        text-decoration: none;
        color: black;
        font-size: 15px;
        text-align: right;

    }

    /* Boxes */
    .box {
        padding: 10px;
        height:100px;
        width:100px;
        margin-right: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    /* Visualization Preview: Images (goes with previewBox)  */
    .visualization_preview img {
        float: left;
        width: 30%;
        padding: 5px;
        align-content: center;
    }

    /* Visualization Preview: Heading 2 */
    .visualization_preview h2 {
        text-align: left;
    }

    /* Visualization Image: for each vis.html (main box) */
    #visualization-image {
        width: 100%;
        padding: 10px;
    }

    /* Summary Box: for index.html */
    #summaryBox {
        background-color: white;
        height: auto;
        width: 100%;
        padding: 10px;
    }

    /* Containers */
    .container {
        margin-left: 30px;
        margin-right: 30px;
        align-content: center;
        padding: 10px;
    }
   
    /* Paragraphs */
    p {
        text-align: left;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

}

@media (max-width: 1200px) {
    
}