.body {
    background: lightgray;
}

.navbar {
    padding: 10px;
    background: white;

}

.navbar li a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    text-align: end;

}
.dropdown {
    background: white;
}
.navbar li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.box {
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#whiteBackground {
    background-color: white;
}


.website_title h1{
    font-size: 40px;
    color: red;
    text-align: center;
}

.btn {
    background: white;
    border: none;
}