h1 {
    font-size: 30px;
    background: purple;
    padding: 10px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color:purple;
    font-size: 25px;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
    padding: 5px;
}

.navbar {
    padding: 0px;
    background: white;
    width: 100%;

}


.navbar-light .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: white;
    background: purple;
    padding: 20px;
    margin-left: 20px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.navbar li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: right;

}

.box {
    padding: 10px;
    height:100px;
    width:100px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.box h1 {
    font-size: 40px;
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 3px;
}

#summaryBox {
    background-color: white;
    height: 500px;
    width: 100%;
}

#previewBox {
    background-color: white;
    height: 500px;
    width: 100%;
}

.btn {
    background: white;
    border: none;
}

.visualization_preview h2 {
    text-align: center;
}

.visualization_preview img {
    float: left;
    width: 50%;
    padding: 10px;
}

.col-md-2 {
    flex: 50%;
    padding: 0 4px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

#summary-image {
    margin-right: 20px;
    width: 50%;
    float: left;
    
}
@media (max-width: 993px) {

}