@media (max-width: 991px) {
    /* Body */
    body {
        font-size: 15px;
        background: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        }
    
    /* Navbar */
    .navbar {
        padding: 0px;
        background: #90A187ff;
        width:100%;
    }
    
    /* Navbar: specifically the website title */
    .navbar-light .navbar-brand {
        font-size: 20px;
        padding: 10px;
        margin-left: 10px;
    
    }
    
    /* Navbar: list objects */
    .navbar li {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        border-radius: 4px;
    }
    
    /* Navbar: links text */
    .navbar li a {
        text-decoration: none;
        color: black;
        font-size: 15px;
        text-align: right;
    
    } 
    
    /* Comparisons Images when size is reduced */
    #comparisons-image {
        width: 90%;
        align-content: center;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    /* Navbar Links when size reduced*/
    .navbar-light .navbar-nav .nav-link {
        color: white;
    }

    h2 {
        font-size: 20px;
    }

}